In [2]:
pip install PyPDF2==1.23

Collecting PyPDF2==1.23
  Downloading PyPDF2-1.23.tar.gz (59 kB)
Building wheels for collected packages: PyPDF2
  Building wheel for PyPDF2 (setup.py): started
  Building wheel for PyPDF2 (setup.py): finished with status 'done'
  Created wheel for PyPDF2: filename=PyPDF2-1.23-py3-none-any.whl size=58349 sha256=283808c3d3fc87e00709c4d43cf6bbd6d435d34ea9786a0ec24a668b885095cd
  Stored in directory: c:\users\tk20\appdata\local\pip\cache\wheels\1b\85\ac\6627cc5af7a1c332560fc6dbddfe7fee5fc5a1b32e42a3016e
Successfully built PyPDF2
Installing collected packages: PyPDF2
Successfully installed PyPDF2-1.23
Note: you may need to restart the kernel to use updated packages.

In [1]:
import PyPDF2

In [2]:
import pandas as pd
import numpy as np

In [3]:
Placement=pd.read_excel('C:\Placement\Placement.xlsx')
Salary=pd.read_excel('C:\Placement\Salary.xlsx')

In [4]:
pdfFile = open('C:\Placement\Stats.pdf', 'rb')

In [5]:
pdfReader = PyPDF2.PdfFileReader(pdfFile)

In [ ]:
pageObj = pdfReader.getPage(171)
page1 = pageObj.extractText()

In [10]:
b=[]

In [ ]:
for j in range(len(Placement)):
    for k in range(1,1050):
        #extraction of page
        pageObj = pdfReader.getPage(k)
        page = pageObj.extractText()
        if ((Placement['PublicDistrictName'][j].lower()) in page.lower()):
            res = [i for i in range(len(page)) if page.startswith('Total', i)]
            res2 = [i for i in range(len(page)) if page.startswith('Name', i)] 
            a=page[res[1]+6:res2[0]]
            a=a.replace(",","")
            print(Placement['PublicDistrictName'][j] +" "+ a)
            b.append(a)
            break

In [11]:
Placement=pd.read_excel('C:\Placement\Placement.xlsx')

In [76]:
Salary=pd.read_excel('C:\Placement\Salary.xlsx')

In [8]:
~pd.isna(Salary)

          1      2      3      4      5      6
0     False   True   True   True   True   True
1      True   True   True   True   True   True
2     False  False  False  False  False  False
3     False  False  False  False  False  False
4      True   True   True   True   True   True
...     ...    ...    ...    ...    ...    ...
2820  False   True   True   True   True   True
2821   True   True   True   True   True   True
2822  False  False  False  False  False  False
2823  False  False  False  False  False  False
2824   True   True   True   True   True   True

[2825 rows x 6 columns]

In [77]:
Salary=Salary[pd.notnull(Salary[1])]

In [78]:
Salary=Salary.reset_index()

In [ ]:
for i in range(len(Placement)):
    for j in range(len(Salary)):
        if Salary[1][j].startswith("District"):
            if Salary[1][j][10:].startswith(Placement['PublicDistrictName'][i]):
                print(Placement['PublicDistrictName'][i]+','+Salary[2][j+2]+","+Salary[3][j+2]+","+Salary[4][j+2]+","+Salary[5][j+2]+","+Salary[6][j+2])

In [49]:
Salary = Salary.astype(str)
b = {'a': [0], 'b': [0], 'c': [0], 'd':[0],'e':[0]}
df = pd.DataFrame(data=b)

In [89]:
Placement=pd.read_excel('C:\Placement\Placement.xlsx')

In [99]:
Placement['Average Teacher Salary (Regular Term)'].describe()

count       90.000000
mean     43505.666667
std       7626.570656
min      29968.000000
25%      37884.250000
50%      41734.500000
75%      48287.500000
max      64683.000000
Name: Average Teacher Salary (Regular Term), dtype: float64

In [100]:
Placement['Average Teacher Salary (Total*)'].describe()

count       90.000000
mean     44984.344444
std       7695.734777
min      30667.000000
25%      39670.000000
50%      43704.000000
75%      49561.000000
max      65212.000000
Name: Average Teacher Salary (Total*), dtype: float64

In [101]:
Placement['Average Administrator Salary'].describe()

count        90.000000
mean      85974.144444
std       15462.645792
min       31200.000000
25%       76998.750000
50%       85814.000000
75%       97515.500000
max      117193.000000
Name: Average Administrator Salary, dtype: float64

In [102]:
Placement['Average Years of Experience'].describe()

count    90.000000
mean     12.270000
std       2.045573
min       7.500000
25%      11.200000
50%      12.450000
75%      13.750000
max      16.500000
Name: Average Years of Experience, dtype: float64

In [103]:
Placement['Teachers with a Master Degree or Higher (%)'].describe()

count    90.000000
mean     50.466667
std      15.121367
min      14.600000
25%      40.575000
50%      51.050000
75%      60.575000
max      83.200000
Name: Teachers with a Master Degree or Higher (%), dtype: float64